{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="alert alert-success" role="alert">
                <ul>
                    <li><strong>Type:</strong> {{ item.getTypeDescription }}</li>
                    <li><strong>Calculation based on:</strong> {{ item.amount }}</li>
                    <li><strong>VAT rate:</strong> {{ item.rate }}</li>
                    <li><strong>VAT amount:</strong> {{ item.calculatedVATAmount }}</li>
                    <li><strong>Final amount:</strong> {{ item.calculatedAmount }}</li>
                    <li><strong>Date and time:</strong> {{ item.initDate }}</li>
                </ul>
            </div>
        </div>
        <a href="{{ path('app_calculate') }}" class="btn btn-success">Calculate again</a>
    </div>
{% endblock body %}